@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont.woff2') format('woff2'),
         url('bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansbold';
    src: url('ostrichsans-bold-webfont.woff2') format('woff2'),
         url('ostrichsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sanslight';
    src: url('ostrichsans-light-webfont.woff2') format('woff2'),
         url('ostrichsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('ostrichsans-medium-webfont.woff2') format('woff2'),
         url('ostrichsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Yu Gothic Light';
    src: url('Yu Gothic Light.eot');
    src: url('Yu Gothic Light.eot?#iefix') format('embedded-opentype'),
    url('Yu Gothic Light.woff2') format('woff2'),
    url('Yu Gothic Light.woff') format('woff'),
    url('Yu Gothic Light.svg#Yu Gothic Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0021-00FE;
}