.project-description-section, .conclusion-section{
	background-image: linear-gradient(180deg, #F7DD46, #F0CD00);
	color: black !important;
}

.project-diagram:nth-child(2n) {
	background-color: rgba(247, 221, 70, 0.2);
}

.tools-section {
	background-color: #78B0F4;
}

.project-banner img {
	width: 59vw;
	padding: 3.2vw 0 !important;
}

#mechanical-icon, #electrical-icon {
	padding: 1vw 4vw;
}

.back-button:hover {
	background-color: #78B0F4;
}

#team-breakdown .diagram-description {
	width: 100%;
}

h5 + p {
	padding-top: 0 !important;
}

h5 {
	text-align: center;
}


@media screen and (max-width: 769px) {
	#concepts-model-testing-diagram .embed-responsive-item {
		padding: 15px 0;
	}
}