.project-description-section, .conclusion-section{
    background-image: linear-gradient(180deg, #B2B533, #C5C866);
}
/*-------------------------------------------------- PROJECTS --------------------------------------------------------*/
#archive-projects-diagram .col-sm-6:nth-child(1),
#archive-projects-diagram .col-sm-6:nth-child(2),
#archive-projects-diagram .col-sm-6:nth-child(3) {
    padding-bottom: 1.5em;
}

#archive-projects-diagram .col-sm-6:nth-child(4),
#archive-projects-diagram .col-sm-6:nth-child(5)
{
    padding-top: 1.5em;
}

.primary-section {
    display: none;
}

.primary-section .content {
    padding-top: 20px;
}

.primary-section {
    margin: auto auto;
    width: 100%;
    height: auto;
    padding: 8vw 0;
}

.section-description {
    display: block;
    position: relative;
    margin: 0 auto;
    font-size: 1.2em;
    height: auto;
    width: 100%;
    z-index: -1;
}

.description-body {
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    padding-bottom: 4vw;
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
}

.project-section {
    padding: 4vw 0;
    width: 80%;
    margin: 0 auto;
}

.project-diagram-section .project-title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 180%;
    font-weight: 600;
    color: white;
    border-radius: 1rem !important;
    z-index: 1;
    opacity: 0.85;
    background-color: lightgrey;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.project-title span {
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.project-diagram-section .project-title:hover {
    background: transparent !important;
}

.project-diagram-section .project-title:hover span{
    opacity: 0;
}

.project-diagram-section .project-title:hover .project-image{
    box-shadow: 0px 0px 10px 10px rgba(0, 168, 157, 0.75);
}

.project-image {
    border-radius: 1rem;
}

.project-node{
    display: block;
    position: relative;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px;
}

.project-node a {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.project-node span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.project-node img{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.title-name{
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
    padding-top: 5vh;
    padding-bottom: 3vh;
}

.name{
    position: relative;
    display: inline-block;
    font-size: 96px;
    line-height: 1.2;
}

.back-button:hover {
    background-color: #d85005;
}

.tools-section {
    background-color: #D85005;
}

.project-title:hover {
    opacity: 0.8;
}

#solar-boat-project-title {
    background-color: #F7DD46;
}

#senior-design-project-title {
    background-color: #32BDBD;
}

#gabble-project-title {
    background-color: #BE1E2D;
}

#personal-website-title {
    background-color: #0E786F;
}