.project-description-section, .conclusion-section{
	background-color: #7392FF;
}

.tools-section {
	background-color: #EDEBEB;
	color: black;
}

.back-button:hover {
	background-color: #7392FF;
}