.project-description-section, .conclusion-section{
	background-color: #7392FF;
}

.project-title {
	position:relative;
	font-size:10vw;
	color:black;
	line-height: 0.75;
}

.tools-section {
	background-color: #EDEBEB;
	color: black;
}

.back-button:hover {
	background-color: #7392FF;
}