/* VARIABLE */

:root {
    --cloud: #f7f8f9;
    --dust: #ced4d6;
    --smoke: #8c989e;
    --tire: #203641;

    --hc-blue: #3883f2;
    --go: #26c19d;
    --hc-yellow: #fccf47;
    --stop: #f74f9e;

    --hc-primary: #3883f2;
    --hc-secondary: #2cb9d9;

    --promo-orange: #ff8d17;
    --promo-yellow: #ffdf80;
}

/* FONTS */
@font-face {
    font-family: 'Rubik';
    src: url("../fonts/rubik/Rubik-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik-Black';
    src: url("../fonts/rubik/Rubik-Black.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url("../fonts/rubik/Rubik-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: 'Rubik-BoldItalic';
    src: url("../fonts/rubik/Rubik-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Italic';
    src: url("../fonts/rubik/Rubik-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Light';
    src: url("../fonts/rubik/Rubik-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: 'Rubik-LightItalic';
    src: url("../fonts/rubik/Rubik-LightItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url("../fonts/rubik/Rubik-Medium.ttf");
    font-weight: 300;
}

@font-face {
    font-family: 'Rubik-MediumItalic';
    src: url("../fonts/rubik/Rubik-MediumItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* GENERAL */

html {
    display: block;
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    position: relative;
    font-size: 1rem;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, label, option {
    font-family: 'Rubik' !important;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik-Bold' !important;
}

p {
    color: var(--tire) !important;
}

a:link {
    text-decoration: none !important;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("../icons/hamburger-icon.svg") !important;
    width: 2.25em;
    height: 2.25em;
}

.navbar-toggler {
    border: none !important;
    top: 0.5em;
    right: 0.5em;
}

.nav-item {
    padding: 0 3em;
}

.nav-item a {
    font-size: 1.35em;
    color: var(--cloud) !important;
    transition: all 0.2s;
}

.navbar-toggler {
    position: absolute !important;
}

section, footer {
    padding: 5em 0;
}

.full-height {
    height: 100%
}

.content {
    position: relative;
    height: 100%
}

#main-container {
    min-height: 100vh;
    display: block;
    position: relative;
}

.cust-btn {
    position: relative;
    display: inline-block;
    padding: 12px 22px;
    border-radius: 25px;
    background: none;
    border: 2px solid var(--dust);
    box-shadow: none;

}

.cust-btn:hover  {
    opacity: 0.5;
}

.go-btn {
    border-color: var(--go);
}

.section-header h1 {
    color: var(--hc-blue);
    font-family: 'Rubik-Bold';
}

.section-header {
    text-align: center;
    margin-bottom: 1em;
}

.text-wrapper p {
    line-height: 1.75;
    font-size: 20px;
}

.image-wrapper img {
    display: block;
    margin: auto;
}

/* NAV SECTION */
.navbar {
    height: 100%;
}

.nav-item a {
    font-family: 'Rubik-Light';
    font-size: 1.35em;
    color: var(--cloud);
}

/* CTA-SECTION */

#cta-section .section-header h1{
    color: white;
    padding-bottom: 1em;
}

#cta-section .form-title h2 {
    color: var(--promo-yellow);
    padding-bottom: 0.5em;
}

#cta-section {    margin-top: 0;
    background-image: linear-gradient(180deg, var(--stop), #990860);
}

#cta-section .search-zip-button:hover {
    opacity: 0.7;
}

.search-zip-button-wrapper {
    display: inline-block;
}

.search-zip-button, .zipcode {
    display: inline-block;
}

.search-zip-button {
    background-color: var(--hc-blue) !important;
    color: var(--cloud);
    height: 80px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 0.75em !important;
    font-weight: 600 !important;
}

/* FORMS */

#beta-signup-form .error {
    color: var(--warning);
}

.form-title h1, .cta-text {
    font-family: 'Rubik-Bold';
    color: white !important;
}

.cta-text {
    font-size: 22px;
    margin-bottom: 1em;
}

.form-wrapper {
    margin: 14px;
}

.form-wrapper .row .col, .form-wrapper .form-group {
    margin: auto !important;
}

#locations-section .form-group, #locations-section .form-group > * {
    display: inline-block !important;
    width: auto !important;
}

#cta-section .form-group {
    width: 100% !important;
}

#cta-section form > *, #locations-section form > * {
    text-align: center;
}

select, input {
    height: 80px !important;
    font-size: 22px !important;
    text-align: center;
    border-radius: 0.75em !important;
}

/* FOOTER STYLES */

footer a:hover {
    color: var(--stop) !important;
}

footer {
    position: relative;
    height: 100%;
    width: 100%;
}

footer {
    background-color: var(--tire) !important;

}

footer ul {
    text-decoration: none !important;
    list-style: none !important;
}


footer li a {
    color: var(--cloud);
}

.list-title {
    text-transform: uppercase;
    color: var(--smoke) !important;
}

.fa {
    font-size: 1.5em !important;
    transition: 0.25s all;
    padding: 0 5px;
    text-align: center;
}

.fa:hover {
    color: var(--stop);
}

#copyright-block {
    margin-top: 5%;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

#copyright-block p {
    color: var(--smoke) !important;
}

@media only screen and (max-width: 767px) {

    .email, .cta-text{
        margin: 1em 0;
    }
}
