#games-section .content{
    display: block;
    position: relative;
    padding-top: 5vh;
    margin: auto auto;
    max-height: 100%;
    width: 75%;
    overflow: hidden;

}

#games-description{
    display: block;
    position: relative;
    padding-bottom: 5%;
    margin: 0 auto;
    font-size: 1.2em;
    height: auto;
    width: 95%;
}

#games-description-body{
    display: block;
    position: relative;
    padding: 5%;
    margin: 0 auto;
    width: 75%;
    font-size: 1.2em;
    color: white;
    opacity: 0.7;
    border-radius: 2vw;
    background-color: #4CA015;
}

#games-table{
    display: table;
    position: relative;
    margin: 0 auto;
    border-spacing: 4vw;
    height: 90%;
    width: 90%;
}

.games-button{
    display: block;
    position: relative;
    text-align: center;
    height: 18vw;
    width: 18vw;
}

.games-button img{
    position: relative;
    margin: auto auto;
    height: 100%;
    width: 100%;
}

#games-table .title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    color: white;
    font-size: 2.0vw;
    line-height: 18vw;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

#games-table .title:hover{
    opacity: 0;
}

#asteroids-title, #asteroids-image{
    border: 0.75vw solid #F7931D;
    border-radius: 50%;
}

#asteroids-title{
    background-color: #F7931D;
}

#a2048-image, #a2048-title{
    border: 0.75vw solid #ECC33D;
    border-radius: 50%;
}

#a2048-title{
    background-color: #ECC33D;
}

#pong-image, #pong-title{
    border: 0.75vw solid #8CC63E;
    border-radius: 50%;
}

#pong-title{
    background-color: #8CC63E;
}

#blackjack-image, #blackjack-title{
    border: 0.75vw solid #7F1416;
    border-radius: 50%;
}

#blackjack-title{
    background-color: #7F1416;
}

#tictactoe-image, #tictactoe-title{
    border: 0.75vw solid #1B75BB;
    border-radius: 50%;
}

#tictactoe-title{
    background-color: #1B75BB;
}

#coming-soon-image, #coming-soon-title{
    border: 0.75vw solid grey;
    border-radius: 50%;
}

#coming-soon-title{
    background-color: grey;
}