/*-------------------------------------------------- GENERAL ---------------------------------------------------------*/
html, body{
    height: 100%;
    width: 100%;
    font-family: 'nexa_lightregular', 'nexa_boldregular', 'geometria_lightlight', 'HelveticaNeue-Light',
                  "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	margin: 0;
	padding: 0;
}

/*-------------------------------------------------- PROJECTS --------------------------------------------------------*/

.primary-section {
    display: none;
}

.primary-section .content {
	padding-top: 20px;
}

.primary-section {
    margin: auto auto;
    width: 100%;
    height: auto;
	padding: 8vw 0;
}

.section-description {
	display: block;
    position: relative;
    margin: 0 auto;
    font-size: 1.2em;
    height: auto;
    width: 100%;
	z-index: -1;
}

.description-body {
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    padding-bottom: 4vw;
    font-size: 1.2em;
	text-align: center;
	font-weight: 400;
}

.project-section {
	padding: 4vw 0;
	width: 80%;
	margin: 0 auto;
}

.project-title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
	font-size: 180%;
	font-weight: 600;
    opacity: 0.85;
    color: white;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.project-title:hover{
    opacity: 0;
}

.project-node{
    display: block;
    position: relative;
    text-align: center;
	max-width: 300px;
	margin: 0 auto;
	padding: 12px;
}

.project-node a {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.project-node span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.project-node img{
	display: block;
	margin: 0 auto;
    position: relative;
	width: 100%;
}

.title-name{
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
	padding-top: 5vh;
	padding-bottom: 3vh;
}

.name{
    position: relative;
	display: inline-block;
    font-size: 96px;
	line-height: 1.2;
}

/*-------------------------------------------------- MAIN-MENU -------------------------------------------------------*/
#node-container{
    position: fixed;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 35vw;
    width: 35vw;
}

#node-container.animate {
	-moz-transition: width 0.3s, height 0.3s, top 0.3s;
    -webkit-transition: width 0.3s, height 0.3s, top 0.3s;
    -o-transition: width 0.3s, height 0.3s, top 0.3s;
    -ms-transition: width 0.3s, height 0.3s, top 0.3s;
    transition: width 0.3s, height 0.3s, top 0.3s;
}

#node-container.augmented {
	width: 100%;
	height: 100%;
}

.node{
    position: fixed;
    width: 15vw;
	height: 15vw;
    border-radius: 50%;
	z-index: 99;
}

.node.animate {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
	transition: all 0.3s;
}

.node.augmented {
	width: 8vw;
	height: 8vw;
}

.node.augmented .section-title {
	font-size: 140%;
}

.node img {
	border-radius: 50%;
	background-color: white;
	z-index: 99;
}

.node img {
	width: 100%;
}

.node:hover{
    cursor: pointer;
}

.section-title {
	display: block;
    position: absolute;
    height: 100%;
    width: 100%;
	font-size: 185%;
	font-weight: 600;
    opacity: 0.0;
    color: white;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.section-title:hover {
	opacity: 0.85;
}

.section-title span {
	left: 50%;
	top: 50%;
	width: 100%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;
}

.section-title span:nth-child(2) {
	display: none;
}

#aboutme-label:hover{
    opacity: 0.7;
}

#aboutme-icon{
    top: 0.5vw;
    left: 0.5vw;
    background-color:'transparent';
}

#aboutme-icon .section-title {
	background-color: #7392FF;
}

#aboutme-icon img:hover, #aboutme-icon.clicked img{
    background-color: #7392ff;
}

#portfolio-icon{
    top: 0.5vw;
    right: 0.5vw;
    float: right;
}

#portfolio-icon .section-title {
	background-color: #FE802D;
}

#portfolio-icon img:hover, #portfolio-icon.clicked img{
    background-color: #FE802D;
}

#current-project-icon{
    bottom: 0.5vw;
    right: 0.5vw;
    float: right;
}

#current-project-icon .section-title {
	background-color: #8EC641;
}

#current-project-icon img:hover, #current-project-icon.clicked img{
    background-color: #8EC641;
}

#photography-icon {
    bottom: 0.5vw;
    left: 0.5vw;
}

#photography-icon .section-title {
	background-color: #BE4E58;
}

#photography-icon img:hover, #photography-icon.clicked img{
    background-color: #BE4E58;
}

/*---------------------------------------------- ABOUTME-SECTION -----------------------------------------------------*/
#aboutme-section{
    display: block;
    position: relative;
    margin: auto auto;
    width: 75%;
    height: auto;
    background-color: #edebeb;
	padding: 0 !important;
}

#aboutme-description .title-name {
	color: #7392ff !important;
	padding-bottom: 0 !important;
}

#first-name{
    font-family: 'nexa_lightregular', Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

#last-name{
    font-family: 'nexa_boldregular', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#aboutme-description{
    display: block;
    position: relative;
    margin: auto auto;
    height: auto;
    width: 90%;
    padding-bottom: 3vh;
    z-index: 1;
}

#aboutme-description .description-body{
	width: 100% !important;
	text-align: left !important;
}

#aboutme-header{
    color: #7392ff;
	padding-top: 4vw;
	padding-bottom: 1vw;
}

#contact-bar-section{
    display: block;
    position: relative;
    margin: 0 auto;
	padding: 15px 0;
    width: 100%;
    height: auto;
    background-color: #7392ff;
}

#contact-bar-section a{
    text-align: center;
    font-size: 2vw;
    color: #f3f3f3;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#contact-bar-section a:hover{
    opacity: 0.5;
}

.contact-icon{
    display: block;
    position: relative;
	width: 80%;
    border-radius: 50%;
	margin: 0 auto;
	padding: 4%;
}

@media all and (orientation:landscape) and (max-height: 414px) {
  #aboutme-section {
    width: 86% !important;
    left: 8% !important;
    top: auto !important;
  }
}

/*------------------------------------------------ CURRENT-PROJECT-SECTION ---------------------------------------------------*/

#current-project-description{
    color: #fff;
	background-color: #8EC641;
}

#game-projects-title, #game-projects-icon{
    border: 0.75vh solid #FCCD09;
    border-radius: 50%;
}

#game-projects-title{
    background-color: #FFDE17;
}

#iris-title, #iris-image{
    border: 0.75vh solid #494849;
    border-radius: 50%;
}

#iris-title{
    background-color: #FFDE17;
}

#current-project-section .project-title {
	background-color: #FCCD09 !important;
}

#current-project-section .project-title, #current-project-section .project-icon {
	border: 0.75vh solid #754C29 !important;
}

/*------------------------------------------------- PORTFOLIO-SECTION ----------------------------------------------------*/

#portfolio-description{
    color: #fff;
	background-color: #FE802D;
}

#personal-website-title, #personal-website-image{
    border: 0.75vh solid #7392FF;
    border-radius: 50%;
}

#personal-website-title{
    background-color: #7392FF;
}

#lestudionyc-image, #lestudionyc-title{
    border: 0.75vh solid #FC8296;
    border-radius: 50%;
}

#lestudionyc-title{
    background-color: #FC8296;
}

#barbers-society-image, #barbers-society-title{
    border: 0.75vh solid #453333;
    border-radius: 50%;
}

#barbers-society-title{
    background-color: #453333;
}

#resume-image, #resume-title{
    border: 0.75vh solid #11153e;
    border-radius: 50%;
}

#resume-title{
    background-color: #989898;
}

#iris-project-icon, #iris-project-title{
    border: 0.75vh solid #494849;
    border-radius: 50%;
}

#iris-project-title{
    background-color: #B881B8;
}

#solar-boat-icon, #solar-boat-project-title{
    border: 0.75vh solid #F6DC46;
    border-radius: 50%;
}

#solar-boat-project-title{
    background-color: #78B0F4;
}

#website-project-icon, #website-project-title{
    border: 0.75vh solid #EC008C;
    border-radius: 50%;
}

#website-project-title{
    background-color: #EC008C;
}

#personal-projects-icon, #personal-projects-title{
    border: 0.75vh solid #fe802d;
    border-radius: 50%;
}

#personal-projects-title{
    background-color: #fed93e;
}

#senior-design-project-icon, #senior-design-project-title{
    border: 0.75vh solid #606060;
    border-radius: 50%;
}

#senior-design-project-title{
    background-color: #F6DC46;
}

#gabble-project-icon, #gabble-project-title{
    border: 0.75vh solid #BE1E2D;
    border-radius: 50%;
}

#gabble-project-title{
    background-color: #000000;
}

#portfolio-section .project-title {
	background-color: #22D689 !important;

}

#portfolio-section .project-icon, #portfolio-section .project-title {
	border: 0.75vh solid #FED93E !important;
}
/*---------------------------------------------- PHOTOGRAPHY-SECTION -------------------------------------------------*/

#photography-description{
    color: white;
    background-color: #BE1E2D;
}

#photography-portfolio-section{
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-spacing: 3vw;
}

.photo-node{
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

.photo-links img{
    position: relative;
    margin: auto auto;
    width: 100%;
}

.album-title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    color: #666666;
    font-size: 2.0em;
    text-align: center;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: white;
    border-radius: 1.5vw;
}

.album-title span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.album-title:hover{
    opacity: 0;
}

.door{
    width: 90%;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	padding: 20px;
}

.photo-links{
    width: 30%
}

/*---------------------------------------------- RESPINSIVE CSS -------------------------------------------------*/



@media screen and (max-width: 1050px) {
	.section-title span:first-child {
		font-size: 70%;
	}

	.node.augmented .section-title span:first-child{
		display: none;
	}

	.node.augmented .section-title span:nth-child(2){
		display: inline;
		font-size: 190%;
	}
}

@media screen and (max-width: 769px) {
	.description-body, .primary-section {
		width: 100%;
	}

	#node-container {
		top: 50%;
		width: 100%;
		height: 24vw;
		z-index: 99;
		background-color: #fff;
		opacity: 0.8;
		-moz-transition: width 0.3s, top 0.3s;
		-webkit-transition: width 0.3s, top 0.3s;
		-o-transition: width 0.3s, top 0.3s;
		-ms-transition: width 0.3s, top 0.3s;
		transition: width 0.3s, top 0.3s;
	}

	#node-container.augmented {
		top: 12vw !important;
		width: 100%;
		height: 24vw;
	}

	.primary-section{
		position: relative !important;
		top: 13vw !important;
	}

	.project-section {
		padding: 15vw 0 !important;
		width: 90 !important;
	}


	.section-title {
		height: 17vw;
		width: 17vw;
	}

	.section-title span:first-child{
		display: none;
	}

	.section-title span:nth-child(2){
		display: inline;
		font-size: 190%;
	}

	.node {
		position: relative !important;
		width: 23vw !important;
		height: auto !important;
		display: inline-block !important;
		padding: 3vw !important;
		opacity: 1.0 !important;
	}

	.name {
		font-size: 72px !important;
	}

  #aboutme-section {
    width: 100% !important;
    top: 26vw !important;
  }

	#aboutme-icon, #portfolio-icon, #photography-icon, #current-project-icon {
		top: auto !important;
		bottom: auto !important;
		left: auto !important;
		right: auto !important;
		float: none !important;
	}

	#aboutme-icon.clicked img{
		background-color: #7392ff;
	}

	#current-project-icon.clicked img{
		background-color: #8EC641;
	}

	#portfolio-icon.clicked img{
		background-color: #FE802D;
	}

	#photography-icon.clicked img{
		background-color: #BE4E58;
	}
}
@media screen and (max-width: 500px) {
	.description-body, .primary-section {
		width: 100% !important;
    text-align: left;
	}

	.name {
		font-size: 48px !important;
	}

	.section-title span:nth-child(2){
		font-size: 150%;
	}

	#aboutme-description{
		width: 100%;
	}
}

@media all and (orientation:landscape) and (max-height: 414px) {
  .primary-section {
    width: 86% !important;
    left: 8% !important;
    top: -20% !important;
  }

  .primary-section .content {
    padding-top: 0;
  }

  #aboutme-section {
    width: 86% !important;
    left: 8% !important;
    top: 0 !important;
  }

  .primary-section .description-body {
    text-align: left !important;
  }

  #node-container.augmented {
    top:50% !important;
    width: 15%;
    height: 100%;
    left: 7.5%;
  }

  #node-container.augmented .node {
    width: 14vw !important;
    height: 14vw !important;
    padding: 2vw !important;
  }

  #node-container.augmented .section-title {
    width: 10vw !important;
    height: 10vw !important;
  }

  #node-container .node {
		width: 23vw !important;
		height: auto !important;
		display: inline-block !important;
		padding: 3vw !important;
  }

  .section-title span:nth-child(2){
    font-size: 130%;
  }
}
