/*General -----------------------------------------------------------------------------------------------------------*/
html{
    height: 100%;
    width: 100%;
    font-family: 'nexa_lightregular', 'nexa_boldregular', 'geometria_lightlight', "HelveticaNeue-Light",
                  "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content{
    display: none;
}

/*Main-Menu ---------------------------------------------------------------------------------------------------------*/
#button-container{
    position: fixed;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 35vw;
    width: 35vw;
}

.button{
    display: block;
    position: fixed;
    height: 15vw;
    width: 15vw;
    -moz-transition: background 0.3s, opacity 0.3s;
    -webkit-transition: background 0.3s, opacity 0.3s;
    -o-transition: background 0.3s, opacity 0.3s;
    -ms-transition: background 0.3s, opacity 0.3s;
    transition: background 0.3s, opacity 0.3s;
    border-radius: 50%;
}

#aboutme-label:hover{
    opacity: 0.7;
}

.button img{
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.button:hover{
    cursor: pointer;
    opacity: 0.6;
}

#person-icon{
    top: 0.5vw;
    left: 0.5vw;
}

#person-icon:hover{
    background-color: #7392ff;
}

#toolbox-icon{
    top: 0.5vw;
    right: 0.5vw;
    float: right;
}

#toolbox-icon:hover{
    background-color: #FFF314;
}

#gamepad-icon{
    bottom: 0.5vw;
    left: 0.5vw;
}

#gamepad-icon:hover{
    background-color: #8DC63F;
}

#camera-icon{
    bottom: 0.5vw;
    right: 0.5vw;
    float: right;
}

#camera-icon:hover{
    background-color: #BE4E58;
}

/*AboutMe-Section ---------------------------------------------------------------------------------------------------*/
#aboutme-section .content{
    display: block;
    position: relative;
    margin: auto auto;
    width: 75vw;
    height: auto;
    overflow: hidden;
    background-color: #edebeb;
    border-radius: 2vw;
}

#name{
    display: block;
    position: relative;
    text-align: center;
    z-index: 1;
}

.name{
    position: relative;
    font-size: 5vw;
    color: #7392ff;
}

#first-name{
    font-family: 'nexa_lightregular', Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

#last-name{
    font-family: 'nexa_boldregular', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

#aboutme-description{
    display: block;
    position: relative;
    top: 3.5vh;
    margin: auto auto;
    height: auto;
    width: 90%;
    padding-bottom: 3vh;
    z-index: 1;
}

#aboutme-description > .paragraph{
    display: block;
    position: relative;
    font-size: 1.2em;
    color: grey;
}

#you{
    font-style: italic;
}

#aboutme-header{
    color: #7392ff;
    font-size: 1.5em;
}

#contact-bar{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #7392ff;
}

#contact-table{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#contact-table a{
    text-align: center;
    font-size: 2vw;
    color: #f3f3f3;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

#contact-table a:hover{
    opacity: 0.6;
}

.contact-icon{
    display: table-cell;
    position: relative;
    margin: 2vh 3vw;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
}

/*Toolbox-Section -----------------------------------------------------------------------------------------------------*/
table{
    display: table;
    position: relative;
    width: 100%;
    margin: auto;
}

#toolbox-table{
    top: 0;
    height: 100%;
    width: 90%;
    border-spacing: 3vw;
    text-align: center;
    z-index: -1;
}

.label{
    display: block;
    position: relative;
    text-align: center;
    font-family: 'nexa_boldregular', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.4em;
}

.badge{
    display: table-cell;
    position: relative;
    margin: 0 auto;
    max-height: 80%;
    max-width: 80%;
}

#toolbox-row-6 td, #toolbox-row-7 td{
    max-height: 40%;
    max-width: 40%;
}

#toolbox-table .header{
    height: 5vh;
    font-size: 8vw;
}

#languages-header{
    color: #fe802d;
}

.languages{
    color: #fe802d;
}

#tools-header{
    color: #f63361;
}

.tools{
   color: #f63361;
}

#fr-lib-header{
    color: #2279ac;
}

.fr-lib{
    color: #2279ac;
}

/*Games-Section -----------------------------------------------------------------------------------------------------*/
#games-section .content{
    display: block;
    position: relative;
    top: 5vh;
    margin: 0 auto;
    max-height: 100%;
    width: 75%;
    overflow: hidden;

}

#games-description{
    display: block;
    position: relative;
    padding-bottom: 5%;
    margin: 0 auto;
    font-size: 1.2em;
    height: auto;
    width: 95%;
}

#games-description-body{
    display: block;
    position: relative;
    padding: 5%;
    margin: 0 auto;
    width: 75%;
    font-size: 1.2em;
    color: white;
    opacity: 0.7;
    border-radius: 2vw;
    background-color: #4CA015;
}

#games-table{
    display: table;
    position: relative;
    margin: 0 auto;
    border-spacing: 4vw;
    height: 90%;
    width: 90%;
}

.games-button{
    display: block;
    position: relative;
    text-align: center;
    height: 18vw;
    width: 18vw;
}

.games-button img{
    position: relative;
    margin: auto auto;
    height: 100%;
    width: 100%;
}

#games-table .title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    color: white;
    font-size: 2.0vw;
    line-height: 18vw;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

#games-table .title:hover{
    opacity: 0;
}

#asteroids-title, #asteroids-image{
    border: 0.75vw solid #F7931D;
    border-radius: 50%;
}

#asteroids-title{
    background-color: #F7931D;
}

#a2048-image, #a2048-title{
    border: 0.75vw solid #ECC33D;
    border-radius: 50%;
}

#a2048-title{
    background-color: #ECC33D;
}

#pong-image, #pong-title{
    border: 0.75vw solid #8CC63E;
    border-radius: 50%;
}

#pong-title{
    background-color: #8CC63E;
}

#blackjack-image, #blackjack-title{
    border: 0.75vw solid #7F1416;
    border-radius: 50%;
}

#blackjack-title{
    background-color: #7F1416;
}

#tictactoe-image, #tictactoe-title{
    border: 0.75vw solid #1B75BB;
    border-radius: 50%;
}

#tictactoe-title{
    background-color: #1B75BB;
}

#coming-soon-image, #coming-soon-title{
    border: 0.75vw solid grey;
    border-radius: 50%;
}

#coming-soon-title{
    background-color: grey;
}

/*Photography-Section -----------------------------------------------------------------------------------------------*/
#photography-section .content{
    display: block;
    position: relative;
    top: 5vh;
    margin: 0 auto;
    max-height: 100%;
    width: 75%;
    overflow: hidden;
}

#photography-description{
    display: block;
    position: relative;
    padding-bottom: 5%;
    margin: 0 auto;
    font-size: 1.2em;
    height: auto;
    width: 75%;
}

#photography-description-body{
    display: block;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 5%;
    border-radius: 2vw;
    font-size: 1.2em;
    color: white;
    opacity: 0.7;
    background-color: #BE1E2D;
}

#photography-table{
    display: table;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-spacing: 3vw;
    height: 60%;
    width: 90%;
}

.photo-button{
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

.photo-links img{
    position: relative;
    margin: auto auto;
    width: 100%;
}

#photography-table .title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    color: #666666;
    font-size: 2.0vw;
    text-align: center;
    line-height: 20vw;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: white;
    border-radius: 1.5vw;
}

#photography-table .title:hover{
    opacity: 0;
}

.door{
    width: 90%;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#nature-door{
    width: 85%;
}

#kitchen-door{
    width: 85%;
}

.photo-links{
    width: 30%
}

