.project-description-section, .conclusion-section{
	background-image: linear-gradient(180deg, #32BDBD, #019F9F);
	color: white;
}

.project-diagram:nth-child(2n) {
	background-color: rgba(50, 189, 189, 0.2);
}

.project-banner img {
	width: 32vw;
}

.tools-section {
	background-color: #6263AC;
}

.project-title {
	font-size: 7vw !important;
}

.project-brief {
	padding-bottom: 1.5vw !important;
}

ul > li {
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

ul {
	text-align: left;
}

#co-levels-diagram img{
	border: 1px solid black;
}

.back-button:hover {
	background-color: #32BDBD;
}