.project-description-section, .conclusion-section{
	background-image: linear-gradient(180deg, #584443, #402928);
}

a {
	color: #ADAC95 !important;
}

.project-title {
	position:relative;
	font-size:10vw;
	color:black;
	line-height: 0.75;
}

#initial-website-design-table , #resume-design-table {
	width:50%;
}

.tools-section {
	padding: 80px 0;
	background-color: #ADAC95;
	color: black;
}

.project-banner img {
	width: 59vw;
	padding: 5.25vh 0;
}

.back-button:hover {
	background-color: #F6F5EA;
}