html, body{
    height: 100%;
    width: 100%;
    font-family: 'nexa_lightregular', 'nexa_boldregular', 'geometria_lightlight', 'Helvetica Neue-Light',
                  'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial, sans-serif' !important;
	margin: 0;
	font-size: 1.2rem;
}

header{
	text-align: center;
	width: 100%;
}

.container {
	width: 70% !important;
}

.content {
    padding-top: 5vh;
    overflow: hidden;
}

.project-diagram-section {
	text-align: center;
}

.comparison {
	display: flex;
    align-items: center;
}

.comparison span {
	padding: 3vh 0;
}

.diagram-description{
	padding-bottom: 3vw;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	color: #686565;
}

.project-diagram {
	margin: 8vh;
}

.project-diagram img{
	margin: 15px;
}

.project-description-section, .conclusion-section{
    display: block;
    position: relative;
	background-color: gray;
	padding: 10vh 0;
	color: white;
}

.project-description-body, .conclusion-body{
    display: block;
    position: relative;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	width: 60%;
}

.project-title {
	position:relative;
	display: inline-block;
	font-size: 9vw;
	color: black;
	line-height: 0.75;
	word-break: keep-all;
	white-space: nowrap;
}

.diagram-title {
	font-weight: 700;
	word-break: keep-all !important
}

.project-banner img {
	width: 32vw;
	padding: 2vw 0;
}

.project-brief{
	display: block;
    position: relative;
	color:gray;
	padding-top: 2vw;
}

.tool-label {
	display: block;
    text-align: center;
}

.tool-badge{
	display: flex;
	margin: 0 auto;
    position: relative;
	padding: 40px;
	width: 300px;
}

.tools-header h3{
	text-align: center;
}

.tools-section {
	padding: 3vw 0;
}

@media screen and (max-width: 768px) {
	.project-description-body, .conclusion-body {
		width: 90% !important;
	}
	
	.diagram-description{
		width: 100% !important;
	}	
}