.project-description-section, .conclusion-section{
	background-color: #ECC23C;
}

.games-button{
    display: block;
    position: relative;
    text-align: center;
	max-width: 300px;
	margin: 0 auto;
	padding: 12px;
}

.games-button a {
	display: block;
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.games-button span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.games-button img{
	display: flex;
	margin: 0 auto;
    position: relative;
	width: 100%;
}

.game-title:hover{
    opacity: 0;
}

.game-title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    color: white;
    font-size: 175%;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.back-button:hover {
	background-color: #ECC23C;
}

#asteroids-title, #asteroids-image{
    border: 0.75vh solid #F7931D;
    border-radius: 50%;
}

#asteroids-title{
    background-color: #F7931D;
}

#a2048-image, #a2048-title{
    border: 0.75vh solid #ECC33D;
    border-radius: 50%;
}

#a2048-title{
    background-color: #ECC33D;
}

#pong-image, #pong-title{
    border: 0.75vh solid #8CC63E;
    border-radius: 50%;
}

#pong-title{
    background-color: #8CC63E;
}

#blackjack-image, #blackjack-title{
    border: 0.75vh solid #7F1416;
    border-radius: 50%;
}

#blackjack-title{
    background-color: #7F1416;
}

#tictactoe-image, #tictactoe-title{
    border: 0.75vh solid #1B75BB;
    border-radius: 50%;
}

#tictactoe-title{
    background-color: #1B75BB;
}

#roller-ball-title, #box-shooter-title {
	background-color: #1B75BB;
}

#roller-ball-image, #box-shooter-image, #roller-ball-title, #box-shooter-title {
	border: 0.75vh solid #1B75BB;
    border-radius: 50%;	
}

.tools-section {
	background-color: #8EC641;
}