.project-description-section, .conclusion-section{
	background-color: #11153e;
}

.tools-section {
	background-color: #989898;
	color: black;
}

.project-diagram img {
	border: 1px solid black;
}

.back-button:hover {
	background-color: #11153e;
}