/*-------------------------------------------------- GENERAL ---------------------------------------------------------*/
html, body{
    height: 100%;
    width: 100%;
    font-family: "Yu Gothic Light", 'bebas_neueregular',"ostrich_sansmedium", "ostrich_sanslight", Helvetica, Arial, sans-serif !important;
	margin: 0;
	padding: 0;
    color: #07262d;
}

body {
    display: none;
    /*cursor: url(resources/toolbox-icons/cursor.svg), auto !important;*/
}

a {
    color: #ff6700 !important;
    font-weight: 700;
}

/*.cursor {
    cursor: url(resources/toolbox-icons/cursor.svg), auto !important;
}*/


/*-------------------------------------------------- PROJECTS --------------------------------------------------------*/

.primary-section {
    display: none;
}

.primary-section .content {
	padding-top: 20px;
}

.primary-section {
    margin: auto auto;
    width: 100%;
    height: auto;
}

.section-description {
	display: block;
    position: relative;
    font-size: 1.2em;
    height: auto;
    width: 100%;
	z-index: -1;
    margin-top: 8em;
    padding: 4em 0;
}

.description-body {
    display: block;
    position: relative;
    width: 65%;
    margin: auto;
    font-size: 1.2em;
	text-align: left;
	font-weight: 400;
    color: white;
}

.title-name{
    position: relative;
    display: block;
    text-align: center;
    z-index: 1;
	padding-bottom: 3em;
    font-family: "bebas_neueregular";
    color: white;
}

.name{
    position: relative;
	display: inline-block;
    font-size: 6em;
	line-height: 1.2;
}

.project-image {
    border-radius: 50%;
}

.project-section {
    padding: 4em 0;
    width: 80%;
    margin: 0 auto;
}

.project-title, .contact-title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: 600;
    opacity: 0.85;
    color: white;
    z-index: 1;
    line-height: 1.2;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
    font-family: "ostrich_sansmedium";
    font-size: 3em;
}

.project-title:hover span, .contact-title:hover span {
    opacity: 0;
}

.project-title span, .contact-title span {
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: 0.35s all ease;
}

.project-node img {
    border-radius: 50%;
}

.project-title:hover, .contact-title:hover {
    background: transparent !important;
}


.project-title:hover ~ img {
    transform: scale(1.2);
}

.project-node{
    display: block;
    position: relative;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px;
}

.project-node a {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    border-radius: 50%;
}

.project-node span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.project-node img{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

/*-------------------------------------------------- MAIN-MENU -------------------------------------------------------*/
#node-container{
    position: fixed;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 30vw;
    width: 30vw;
}

#node-container.animate {
	-moz-transition: width 0.3s, height 0.3s, top 0.3s;
    -webkit-transition: width 0.3s, height 0.3s, top 0.3s;
    -o-transition: width 0.3s, height 0.3s, top 0.3s;
    -ms-transition: width 0.3s, height 0.3s, top 0.3s;
    transition: width 0.3s, height 0.3s, top 0.3s;
}

#node-container.augmented {
	width: 100%;
	height: 100%;
}

.node{
    position: fixed;
    width: 12vw;
	height: 12vw;
    border-radius: 50%;
	z-index: 99;
}

.node.animate {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
	transition: all 0.3s;
}

.node.augmented {
	width: 6vw;
	height: 6vw;
}

.node.augmented .section-title {
	font-size: 1.5em;
}

.node img {
    border-radius: 50%;
    z-index: 99;
    box-shadow: 0 10px 20px #303131;
}

.node img {
	width: 100%;
}

.node:hover{
    cursor: pointer;
    background-color: white;
}

.node.clicked .section-title{
    opacity: 1;
}

.section-title {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: 600;
    font-size: 3em;
    color: white;
    z-index: 1;
    opacity: 0;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.section-title:hover {
    opacity: 1;
}

.section-title span {
    left: 50%;
    top: 50%;
    width: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: "ostrich_sansmedium";
    line-height: 1.15;
}

.section-title span:nth-child(2) {
    display: none;
}

#aboutme-icon{
    top: 0.5vw;
    left: 0.5vw;
}

#aboutme-title {
    background-color: #cfd678;
}

#aboutme-icon img {
    transition: 0.35s all ease;
    background-image: linear-gradient(180deg, #cfd678, #9aa428);}

#portfolio-icon{
    top: 0.5vw;
    right: 0.5vw;
    float: right;
}

#portfolio-title {
    background-color: #ff6700;
}

#portfolio-icon img {
    background-image: linear-gradient(180deg, #ff6700,#f03a10);
}

#current-projects-title {
    background-color: #17aca2;
}

#current-project-icon{
    bottom: 0.5vw;
    right: 0.5vw;
    float: right;
}

#current-project-icon img {
    background-image: linear-gradient(180deg, #aae7e3, #17aca2);
}

#photography-icon {
    bottom: 0.5vw;
    left: 0.5vw;
}

#photography-title {
    background-color: #186475;
}

#photography-icon img {
    background-image: linear-gradient(360deg, #07262d, #186475);
}

/*---------------------------------------------- ABOUTME-SECTION -----------------------------------------------------*/
#aboutme-description{
    background-image: linear-gradient(180deg, #cfd678, #9aa428);
}

.contact-title {
    border-radius: 50%;
    background-color: #ff6700;
}

.contact-title:hover ~ img {
    transform: scale(1.05);
}

.contact-icon{
    display: block;
    position: relative;
	width: 80%;
    border-radius: 50%;
	margin: 0 auto;
}

/*------------------------------------------------ CURRENT-PROJECT-SECTION ---------------------------------------------------*/

#current-project-description{
    color: #fff;
    background-image: linear-gradient(180deg, #aae7e3, #17aca2);
}

#current-project-section .project-title{
    background-color: #bac446;
    border-radius: 50%;
    transition: background 0.35s !important;
}

#arena-fighter-project-title {
	background-color: #17C95F;
}

/*------------------------------------------------- PORTFOLIO-SECTION ----------------------------------------------------*/

#portfolio-description {
    color: #fff;
    background-image: linear-gradient(180deg, #ff6700,#f03a10);
}

#portfolio-section .project-title{
	background-color: #22B0A7;
    border-radius: 50%;
    transition: background 0.35s !important;
}

/*---------------------------------------------- PHOTOGRAPHY-SECTION -------------------------------------------------*/

#photography-description{
    color: white;
    background-image: linear-gradient(360deg, #07262d, #186475);
}

#photography-portfolio-section{
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-spacing: 3vw;
}

.photo-node{
    display: block;
    position: relative;
    text-align: center;
    height: 100%;
    width: 100%;
}

.album-title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #07262d;
    font-size: 3.0em;
    text-align: center;
    z-index: 1;
    -moz-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
    border-radius: 1.5vw;
    font-family: "ostrich_sansmedium";
    text-shadow: 2px 4px 5px grey;
}

.album-title span {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.album-title:hover{
    opacity: 0;
}

.album-title:hover ~ img{
    transform: scale(1.1);
}

.door{
    width: 90%;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
	padding: 20px;
}

.photo-links{
    width: 30%
}

#photography-description-body span {
    font-style: italic;
}

#nature-album .album-title {
    color: #006838;
}

#port-jeff-album .album-title {
    color: #f1592a;
}

#kitchen-album .album-title {
    color: #000000;
}

#nyc-album .album-title {
    color: #2161a7;
}

#explorations-album .album-title {
    color: #ffffff;
}
/*---------------------------------------------- RESPONSIVE CSS -------------------------------------------------*/



@media screen and (max-width: 1050px) {
	.section-title span:first-child {
		font-size: 70%;
	}

	.node.augmented .section-title span:first-child{
		display: none;
	}

	.node.augmented .section-title span:nth-child(2){
		display: inline;
		font-size: 190%;
	}
}

@media screen and (max-width: 769px) {
	.description-body, .primary-section {
		width: 100%;
	}

	#node-container {
		top: 50%;
		width: 100%;
		height: 24vw;
		z-index: 99;
		background-color: #fff;
		-moz-transition: width 0.3s, top 0.3s;
		-webkit-transition: width 0.3s, top 0.3s;
		-o-transition: width 0.3s, top 0.3s;
		-ms-transition: width 0.3s, top 0.3s;
		transition: width 0.3s, top 0.3s;
	}

	#node-container.augmented {
		top: 12vw !important;
		width: 100%;
		height: 24vw;
	}

	.primary-section{
		position: relative !important;
		top: 13vw !important;
	}

	.project-section {
		padding: 2.5em 0 !important;
		width: 90% !important;
	}

    .project-title, .contact-title {
        font-size: 2em;
    }

	.section-title {
		height: 17vw;
		width: 17vw;
	}

	.section-title span:first-child{
		display: none;
	}

	.section-title span:nth-child(2){
		display: inline;
		font-size: 190%;
	}

    .section-description {
        margin-top: 0;
    }

	.node {
		position: relative !important;
		width: 23vw !important;
		height: auto !important;
		display: inline-block !important;
		padding: 3vw !important;
		opacity: 1.0 !important;
	}

	.name {
		font-size: 72px !important;
	}

	#aboutme-icon, #portfolio-icon, #photography-icon, #current-project-icon {
		top: auto !important;
		bottom: auto !important;
		left: auto !important;
		right: auto !important;
		float: none !important;
	}

	#aboutme-icon.clicked img{
		background-color: #7392ff;
	}

	#current-project-icon.clicked img{
		background-color: #8EC641;
	}

	#portfolio-icon.clicked img{
		background-color: #FE802D;
	}

	#photography-icon.clicked img{
		background-color: #BE4E58;
	}
}
@media screen and (max-width: 500px) {
	.description-body, .primary-section {
		width: 100% !important;
        text-align: left;
	}

	.name {
		font-size: 48px !important;
	}

	.section-title span:nth-child(2){
		font-size: 150%;
	}
}

@media all and (orientation:landscape) and (max-height: 414px) {
  .primary-section {
    width: 86% !important;
    left: 8% !important;
    top: -20% !important;
  }

  .primary-section .content {
    padding-top: 0;
  }

  .primary-section .description-body {
    text-align: left !important;
  }

  #node-container.augmented {
    top: 50% !important;
    width: 15%;
    height: 100%;
    left: 7.5%;
  }

  #node-container.augmented .node {
    width: 14vw !important;
    height: 14vw !important;
    padding: 2vw !important;
  }

  #node-container.augmented .section-title {
    width: 10vw !important;
    height: 10vw !important;
  }

  #node-container .node {
		width: 23vw !important;
		height: auto !important;
		display: inline-block !important;
		padding: 3vw !important;
  }

  .section-title span:nth-child(2){
    font-size: 130%;
  }
}
