/*General -----------------------------------------------------------------------------------------------------------*/
html{
    height: 100%;
    width: 100%;
}

/*.container{
    border: 1px solid black;
}*/

.content{
    display: none;
}

/*Fix border-radius for buttons*/
/*Intro-Section -----------------------------------------------------------------------------------------------------*/
.button{
    display: block;
    position: fixed;
    height: 52%;
    width: 52%;
    border-radius: 50%;
    z-index: 1;
}

.button:hover{
    cursor: pointer;
}

#button-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    z-index: -1;
}

#person-icon{
    top: 0;
    left: 0;
}

#toolbox-icon{
    top: 0;
    left: 100%;
    transform: translateX(-100%);
}

#gamepad-icon{
    bottom: 0;
    left: 0;
}

#camera-icon{
    bottom: 0;
    left: 100%;
    transform: translateX(-100%);
}

/*AboutMe-Section ---------------------------------------------------------------------------------------------------*/
#aboutme-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    height: 70%;
    z-index: -1;
    background: red;
}

.paragraph{
    display: block;
    font-family: 'nexa_lightregular', Helvetica, Arial, sans-serif;
}


/*Tools-Section -----------------------------------------------------------------------------------------------------*/

#tools-table{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-spacing: 100px;
    border: 1px solid black;
    height: 100%;
    width: 90%;
    text-align: center;
    z-index: -1;
}


.badge{
    position: relative;
    max-height: 85%;
    max-width: 85%;
}

/*#tools-table td{
    border: 1px solid black;
}*/

/*Games-Section -----------------------------------------------------------------------------------------------------*/
#games-table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 90%;
    z-index: -1;
    border-spacing: 10%;
}

td{
    position: relative;
}

.tile{
    position: absolute;
    top: 2vw;
    left: 5vw;
    height: 20vw;
    width: 20vw;
    transition: all 0.35s ease;
    border-radius: 50%;
}

.tile:hover{
    transform: scale(0.85, 0.85);
}

.tile img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.title{
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 20vw;
    text-align: center;
    opacity: 0;
    background: rgba(255, 255, 255, 0.7);
    color: white;
    font-size: 2em;
    z-index: 1;
    transition: all 0.35s ease;
}

.title:hover{
    opacity: 0.7;
}

#asteroids-title, #asteroids-image{
    border: 12px solid #F7931D;
    border-radius: 50%;
}

#asteroids-title{
    background-color: #F7931D;
}

#a2048-image, #a2048-title{
    border: 12px solid #ECC33D;
    border-radius: 50%;
}

#a2048-title{
    background-color: #ECC33D;
}

#pong-image, #pong-title{
    border: 12px solid #8CC63E;
    border-radius: 50%;
}

#pong-title{
    background-color: #8CC63E;
}

#blackjack-image, #blackjack-title{
    border: 12px solid #7F1416;
    border-radius: 50%;
}

#blackjack-title{
    background-color: #7F1416;
}

#tictactoe-image, #tictactoe-title{
    border: 12px solid #1B75BB;
    border-radius: 50%;
}

#tictactoe-title{
    background-color: #1B75BB;
}

#coming-soon-image, #coming-soon-title{
    border: 12px solid grey;
    border-radius: 50%;
}

#coming-soon-title{
    background-color: grey;
}

/*Photography-Section -----------------------------------------------------------------------------------------------*/
#photography-table{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 90%;
    text-align: center;
}

.door{
    width: 90%;
    transition: all 0.5s ease;
}

.door:hover{
    transform: scale(1.1, 1.1);
}

.photo-links{
    width: 30%
}

