html{
    height: 100%;
    width: 100%;
}

.container{
    border: 1px solid black;
}

.image{
    display: block;
    position: absolute;
    height: 47%;
    width: 47%;
    padding: 1%;
}

#button-container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
}

#person-icon{
    top: 0;
    left: 0;
}

#toolbox-icon{
    top: 0;
    left: 100%;
    transform: translateX(-100%);
}

#gamepad-icon{
    bottom: 0;
    left: 0;
}

#camera-icon{
    bottom: 0;
    left: 100%;
    transform: translateX(-100%);
}





/*.container, .content, .paragraph{
*/
/*    border: 1px solid black;*//*

}

.content{
    overflow: hidden;
}

.paragraph{
    position: relative;
    margin: auto auto;
    overflow-y: auto;
}

body{
    background: -moz-linear-gradient(to bottom, #0590CC, #4CC9FF);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#person-icon{
    display: inline-block;
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%);
    height: 50%;
    width: 25%;
    cursor: pointer;
}

#name{
    display: block;
    position: fixed;
    bottom: -240px;
    left: 50%;
    height: 120px;
    width: auto;
    font-size: 100px;
    transform: translateX(-50%);
    z-index: -1;
    color: white;
}

#aboutme-section{
    display: block;
    position: fixed;
    bottom: -15px;
    height: 0;
    width: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: white;
    z-index: -1;
}


#aboutme-content{
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    width: 95%;
}

#left-description{
    display: inline-block;
    position: relative;
    float: left;
    left: 5%;
    margin: 25px auto;
    height: 80%;
    width: 25%;
}

#right-description{
    display: inline-block;
    position: relative;
    float: right;
    right: 5%;
    margin: 10px auto;
    height: 80%;
    width: 25%;
}

#games-tab{
    position: fixed;
    top: 35%;
    left: -15px;
    height: 18%;
    width: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;

}

#games-description{
    display: inline-block;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    height: 70%;
    width: 60%;
}

#gamepad-icon{
    display: inline-block;
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    right: 3%;
    height: 85%;
    width: 175px;
    cursor: pointer;
}

#photography-tab{
    position: fixed;
    right: -15px;
    top: 35%;
    height: 18%;
    width: 200px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
}

#photography-description{
    display: inline-block;
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    height: 70%;
    width: 60%;
}

#camera-icon{
    display: inline-block;
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    height: 85%;
    width: 175px;
    cursor: pointer;
}
*/
