#about_node{
    background: green;
    height: 120px;
    width: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
}

#about_node{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	text-align: center;
}

#left_about_subnode{
	position: absolute;
	left: 1px;
	top: 5%;
	display: block;
	text-align: center;
}

#right_about_subnode{
	position: absolute;
	right: 1px;
	top: 5%;
	display: block;
	text-align: center;
}

#game_photo_node{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	text-align: center;
}

#self_study_node{

	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	text-align: center;
}


#head_icon{
    display: block;
    margin: 0 auto;
    height: 15%;
    width: 15%;

}