.project-description-section, .conclusion-section{
    background-image: linear-gradient(180deg, #40045B, #40045B);
}

a {
    color: #EC008C !important;
}

.project-diagram .col-sm-6 {
    padding-bottom: 3em;
}


.description-body {
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    padding-bottom: 4vw;
    font-size: 1.2em;
    text-align: left;
    font-weight: 400;
}


.project-diagram-section .project-title{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 180%;
    font-weight: 600;
    color: white;
    border-radius: 1rem !important;
    z-index: 1;
    opacity: 0.85;
    background-color: lightgrey;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.project-title span {
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -ms-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.project-diagram-section .project-title:hover {
    background: transparent !important;
}

.project-diagram-section .project-title:hover span{
    opacity: 0;
}

.project-diagram-section .project-title:hover ~ img{
    transform: scale(1.05);
}

.project-image {
    border-radius: 1rem;
    transition: 0.35s all ease;
}

.project-node{
    display: block;
    position: relative;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 12px;
}

.project-node a {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.project-node span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.project-node img{
    display: block;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.back-button:hover {
    background-color: #EC008C;
}

.tools-section {
    background-color: #00A79D;
}

#fantasy-project-title {
    background-color: #ec2325;
}

#kasisto-project-title {
    background-color: #03a96f;
}

#hubcap-project-title {
    background-color: #3883F2;
}

#mimsi-website-title {
    background-color: #E31C79;
}

#mimsi-pitch-deck-title {
    background-color: #702082;
}

#TAC-website-title {
    background-color: #0D338A;
}

#barbers-society-website-title {
    background-color: #453333;
}

#lestudionyc-website-title {
    background-color: #F2A5B0;
}

@media screen and (max-width: 769px) {
    .project-diagram .col-sm-6 {
        padding-bottom: 1.5em;
    }
}
